html {
    background-color: aquamarine;
}

* {
    box-sizing: border-box;
}

img {
    height: 300px;
    width: 300px;
    border: 5px solid;
    border-color: #000000;
}

.column {
    float: left;
    width: 23.33%;
    padding: 5px;
    margin-left: 145px;
}

h1 {
    text-align: center;
}

button {
    text-align: center;
}

